name: chart

on:
  pull_request:

concurrency:
  group: chart-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  helm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: yokawasa/action-setup-kube-tools@v0.13.1
      with:
        setup-tools: |
          helm
    - run: helm lint --strict --quiet ./chart
    - name: default install with unbound
      run: helm template --debug ./chart
    - name: install without unbound
      run: helm template --debug --set unbound.enabled=false --set config.resolver=system ./chart
