name: pr

on:
  pull_request:

concurrency:
  group: pr-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  build_unbound:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v6
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - id: image
      run: |
        IMAGE_NAME=$(uuidgen)
        echo "name=ttl.sh/${IMAGE_NAME}:1h" >> $GITHUB_OUTPUT
    - uses: docker/build-push-action@v6
      with:
        context: .docker/unbound/rootfs
        push: true
        tags: ${{ steps.image.outputs.name }}
    - if: github.event.pull_request.head.repo.full_name == github.repository
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - if: github.event.pull_request.head.repo.full_name == github.repository
      uses: docker/build-push-action@v6
      with:
        context: .docker/unbound/rootfs
        push: true
        tags: ghcr.io/luzilla/unbound:dev

  test:
    strategy:
      matrix:
        go-version: [1.24.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
        cache: false
    - run: go test ./...

  release_test:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
        cache: false
    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3
    - run: docker buildx ls
    - uses: goreleaser/goreleaser-action@v6
      with:
        version: '~> v2'
        args: release --snapshot --clean

  freebsd:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - "15.0"
          - "14.3"
    steps:
    - uses: actions/checkout@v6
    - id: test
      uses: vmactions/freebsd-vm@v1.3.4
      with:
        release: ${{ matrix.version }}
        copyback: false
        sync: no
        run: uname -a
    - name: install build dependencies
      shell: freebsd {0}
      run: pkg install -y lang/go git-lite devel/goreleaser sysutils/helm
    - name: download source
      shell: freebsd {0}
      run: git clone https://github.com/${{ github.repository }}
    - name: build
      shell: freebsd {0}
      run: cd dnsbl_exporter && goreleaser build --single-target --snapshot --clean
    - shell: freebsd {0}
      run: cd dnsbl_exporter && ./dist/dnsbl_exporter_freebsd_amd64_v1/dnsbl-exporter -h